.clients{
    width: 1380px;
}
.clients-heading{
    text-align: center;
    margin-top: 40px;
}
.clients-heading p{
    width: 65%;
    margin: auto;
    color:#666666;
    margin-top: 20px;
    margin-bottom: 50px;
}


.fill{
    margin-top: 60px;
    width: 100%;
}